*{
    font-family: 'Dancing Script';
}
.weather-data {
    text-align: center;
   

    &__city {
        color:azure;
        margin-left: 5px;
        
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

       &__title {
        font-size: 0.8rem;
        letter-spacing: 1px;
        color:azure;
    }

    &__value {
        color:azure;
        font-size: 100%;

    }
}
.weather__tagline{
    color: azure;
}